* {
	text-align: right;
}



h2{
	color: black;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	
}

h2:hover{
	transform: scale(1.1);
}

p{
	color: #A72306;
	text-align: center;
	font-family: 'Varela Round', sans-serif;
}



li{
	color: black;
	list-style: none;
	display: inline-block;
	font-family: 'Permanent Marker', cursive;

}


img:hover{
	transform: scale(1.1);
}
